[Unit]
Description=Grow Tent Controller (GPIO + BME680)
After=network-online.target

[Service]
Type=simple
User=matthias
WorkingDirectory=/home/matthias/grow_tent_controller
Environment=PYTHONUNBUFFERED=1
ExecStart=/home/matthias/grow_tent_controller/.grow_tent_controller/bin/python /home/matthias/grow_tent_controller/main.py
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
